@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="card bg-transparent border-0 p-2" style="border-radius: 15px;">
        <div class="card-header d-flex justify-content-between  border-0  bg-transparent p-1  mt-3 mb-2">
            <div class="text-start">
                <h5 class="mt-2"> Document</h5>
            </div>
            <div class="text-end">
                <a href="Fig64_Patient_Dashboard.html" class="btn btn-outline-info btn-back text-end">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                         class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5" />
                    </svg></i>Back
                </a>
            </div>
        </div>
        <div class="card-body m-1 shadow" style="border-radius: 15px;">
            <div class="doc-text-card">Patient name</div>
            <span class="d-flex align-items-center">
                @foreach (var item in ViewBag.requestinfo)
                {
                    <div class="Patient-name">@item.Firstname @item.Lastname </div>
                    <div class="doc-text-card mx-2 ">(@item.Requestid)</div>
                }
            </span>

            <div class="doc-text-card mt-2">
                check here for any files that you or the
                doctor of yours subsequents requestors have attached for yo to
                review
            </div>
            <div class="col-md-12 mt-3">




                @foreach (var item in ViewBag.requestinfo)
                {
                    <form method="post" asp-action="UploadDoc" asp-controller="Dashboard" enctype="multipart/form-data">
                        
                        <div class="col-md-12 form-floating  ">
                            <div class="file-upload-wrapper border border-1" data-text="Select your file!">
                            <input type="hidden" name="Requestid" value="@item.Requestid" />
                                <input name="file-upload-field" type="file" class="file-upload-field" value="">
                            </div>
                            <!-- <input class="form-control rounded" name="suche" type="file" placeholder=Suchtext autocomplete=off> -->
                        </div>
                    </form>
                }





                <div class="card-header-2 mt-3 d-flex justify-content-between  border-0  bg-transparent ">
                    <div class="mt-2">
                        <h6> Document</h6>
                    </div>
                    <div class="text-end">
                        <div id="downloadAll" class="btn btn-outline-info btn-back text-end">
                            Downlode all</a>
                    </div>
                </div>
                </div>
                <div class="table-responsive mt-3 ">
                    <table class="table">
                        <thead class="border-0">
                            <tr class="table-secondary">
                                <th scope="col" class="table-text-header px-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value id="flexCheckDefault">
                                    </div>
                                </th>
                                <th scope="col" class="table-text-header px-3"></th>

                                <th scope="col" class="table-text-header  px-3">Uploder</th>
                                <th scope="col" class="table-text-header   ">uplode date</th>
                                <th scope="col" class="table-text-header   ">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item2 in ViewBag.DocList)
                            {
                                <tr>

                                    <td class="table-text px-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        </div>
                                    </td>
                                    <td class="table-text  px-3">@item2.Filename</td>
                                    <td class="table-text  px-3">@item2.</td>
                                    <td class="table-text  px-3">@item2.Createddate</td>

                                    <td class="table-text text-center ">
                                        <a class="btn btn-sm  btn-outline-info document-button" download href="@item2.Filename.Replace("~","")">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                                                 class="bi bi-arrow-down-circle mx-1" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                      d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z" />
                                            </svg>
                                        </a>

                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>
@section Scripts
    {
        <script type="text/javascript" >
            //$(function () {
            //        $('#downloadAll').click(function () {
            //            // Loop through each row in the table
            //            $('tbody tr').each(function () {
            //                // Get the download link for the current row
            //                var downloadLink = $(this).find('.document-button').attr('href');

            //                // Create a hidden link and trigger the download
            //                var hiddenLink = document.createElement('a');
            //                hiddenLink.href = downloadLink;
            //                hiddenLink.target = '_blank';
            //                hiddenLink.download = '';
            //                document.body.appendChild(hiddenLink);
            //                hiddenLink.click();
            //                document.body.removeChild(hiddenLink);
            //            });
            //        });
            //    });
        $(function () {
            $('#downloadAll').click(function () {
                // Loop through each row in the table
                $('tbody tr').each(function () {
                    // Check if the checkbox in the current row is checked
                    if ($(this).find('.form-check-input').prop('checked')) {
                        // Get the download link for the current row
                        var downloadLink = $(this).find('.document-button').attr('href');

                        // Create a hidden link and trigger the download
                        var hiddenLink = document.createElement('a');
                        hiddenLink.href = downloadLink;
                        hiddenLink.target = '_blank';
                        hiddenLink.download = '';
                        document.body.appendChild(hiddenLink);
                        hiddenLink.click();
                        document.body.removeChild(hiddenLink);
                    }
                });
            });
        });

        </script>
}